@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.quizCard{
    text-align: center;
    margin-top: 5vh;
    
}
.quizQuestion{
    padding:10px;
    font-size: 24px;
    font-family: "Noto Sans", sans-serif;
}

.options{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1em auto;
}

option{
    display: block;
    border:2px solid white;
    color: white;
    background-color:#1abc9c;
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 0.8em;
    transition: 0.5s;
    margin-top: 1.8em;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
}
option:hover{
    background-color: white;
    color: #1abc9c;
    border: none;
}
